body {
  background-color: lavender;
}
#show-list {
  display: none;
}

h1 {
  text-align: center;
}

h2 {
  margin-top: 25px;
  font-style: italic;
  font-size:  30px;
}

ul {
  font-style: italic;
  font-size: 25px;
}